---
---
<footer class="border-t border-neutral-200 pt-4 pb-12">
  <div class="container text-center text-sm text-neutral-600">
    <div>© 2025 Next Frontier (Hong Kong) Limited.</div>
  </div>
</footer>
